[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
discord-py = {extras = ["voice"],version = "*"}
fuzzywuzzy = {extras = ["speedup"],version = "*"}
feedparser = "*"

[requires]
python_version = "3.7"
